.card-rectangle{
    width:120px;
    height: 60px;
}

.card-square{
    width:100px;
    height: 100px;
}

.card-oval{
    width: 70px;
    height: 100px;
    border-radius: 50%;
}

.card-round{
    width:100px;
    height: 100px;
    border-radius: 50%;
}

.card-triangle{
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
}

.card-container{
    padding-right:16px;
    padding-bottom: 16px;
}

.card{
    border-radius: 12px;
    padding:16px;
    background-color: #fff;
    height: 140px;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
}